<div class="profiles-home">
  <h2>Tempat Wisata</h2>
  <div class="dashed"></div>
  <div class="info-title">Arsip Berita Wisata Saya</div>
  <div class="dashed" style="margin-bottom: 15px; margin-top: 0"></div>
  <% if can?(:create, @new_location_tourism) && @profile == current_user %>
    <%= link_to new_profile_location_tourism_path(@profile) do %>
      <i class="btn btn-primary icon-plus"> Tambah Data</i>
    <% end %>
    <div class="dashed" style="margin-bottom: 30px; margin-top: 15px"></div>
  <% end %>

  <% @location_tourisms.each do |location_tourism| %>
    <div class="title-news">
      <div class="clearfix">
        <%= link_to_if can?(:read, location_tourism), location_tourism.name.truncate(80, separator: " "), location_tourism_path(location_tourism) %>
        <div class="pull-right">
          <%= link_to edit_profile_location_tourism_path(@profile, location_tourism), rel: "tooltip", data: {original_title: "Edit Data"} do %>
            <i class="btn btn-primary btn-mini icon-pencil"></i>
          <% end if can?(:update, location_tourism) && @profile == current_user %>
          <%= link_to profile_location_tourism_path(@profile, location_tourism), method: :delete,
            rel: "tooltip", data: {original_title: "Delete Data", confirm: "Are you sure?"} do %>
            <i class="btn btn-danger btn-mini icon-trash"></i>
          <% end if can?(:destroy, location_tourism) && @profile == current_user %>
        </div>
      </div>
    </div>
    <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
  <% end %>

  <div class="all-events" style="margin-bottom: 0">
    <%= paginate @location_tourisms %>
  </div>
</div>
