<div class="container">
  <div class="row">

    <div class="span3">
      <%= render 'user_navigation' %>
    </div><!--/span-->

    <div class="span9">
      <div class="profiles-home"> <!-- Berita Wisatawan / TourismArticle -->
        <h2>Berita Wisata</h2>
        <div class="dashed"></div>
        <div class="info-title">Berita terbaru tentang wisata yang ada di  Sumatera Barat</div>
        <div class="dashed" style="margin-bottom: 15px; margin-top: 0"></div>
        <% if can? :create_tourism_article, @profile %>
          <%= link_to 'Tambah Data', new_tourism_article_profile_path(@profile), :class => 'btn btn-primary btn-mini' %>
          <div class="dashed" style="margin-bottom: 30px; margin-top: 15px"></div>

          <% @tourism_articles.each do |tourism_article| %>
            <div class="title-news">
              <%= link_to truncate(tourism_article.title, :length => 80, :separator => ' '), tourism_article_path(tourism_article) %>
              <div class="pull-right" >
                <%= link_to edit_tourism_article_profile_path(@profile) do %>
                  <i class="icon-pencil"></i>
                <% end %>
              </div>
            </div>
            <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
          <% end %>
        <% end %>

        <div class="all-events" style="margin-bottom: 0">
          <%= paginate @tourism_articles %>
        </div>
      </div>
    </div> <!-- END Berita Wisatawan / TourismArticle -->

  </div><!--/span-->
</div><!--/row-->

