<div class="profiles-home">
  <h2>Acara Wisata</h2>
  <div class="dashed" style="margin-bottom: 30px; margin-top: 0"></div>

  <%= f.input :title, :label => 'judul', :input_html => {:class => 'span5'} %>
  <%= f.input :start_date, :label => 'Tanggal dimulai', as: :string,
    :input_html => {:data => {:behaviour => 'datepicker'}} %>
  <%= f.input :end_date, :label => 'Tanggal berakhir', as: :string,
    :input_html => {:data => {:behaviour => 'datepicker'}} %>

  <div style="margin-bottom: 20px;" >
    <%= f.input :description, :label => false%>
  </div>

  <%= f.input :image, :label => false %>
  <span class="help-block">Pilih gambar untuk acara wisata</span>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      profile_events_path(@profile), :class => 'btn btn-danger delete' %>
  </div>
</div>