<div class="profiles-home">
  <h2>Cerita Rakyat</h2>
  <div class="dashed" style="margin-bottom: 30px; margin-top: 0"></div>

  <%= f.input :title, :label => 'Judul', :input_html => {:class => 'span5'} %>
  <div style="margin-bottom: 20px;" >
    <%= f.input :description, :label => false%>
  </div>
  <%= f.input :image, :label => false %>
  <span class="help-block">Pilih gambar untuk cerita rakyat</span>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      profile_folktales_path(@profile), :class => 'btn btn-danger delete' %>
  </div>
</div>

<%#= f.input :description, :as => :ckeditor, :label => false, :input_html => { :toolbar => 'Full' } %>
<%#= f.input :content, :as => :text, :label => 'Isi Berita Wisata', :input_html => { :rows => 20, :class => 'span6' } %>

