<div class="container">
  <div class="page-header">
    <h2>Forgot your password?</h2>
  </div>

  <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= f.error_notification %>
    <%= debug f.object.errors %>
    <div class="inputs">
  <%#= f.input :email, :required => true %>
      <%= f.input :login, :required => true %>
    </div>

    <div class="actions">
      <%= f.button :submit, "Send me reset password instructions" %>
    </div>
  <% end %>

</div>