<% if event %>
  <div class="span4" style="margin-left: 0">
    <div class="left">
      <h2><span style="color: #c639a1;">Acara</span></h2>
    </div>
    <div class="sub_hr">
      <span>Acara wisata terbaru yang diadakan di Sumatera Barat</span>
    </div>
    <!-- Acara 1 -->
    <div class="moduletable_event">
      <div class="detail clerfix">
        <div class="eventsdate">
          <div class="cont">
            <%= l event.created_at, :format => :only_day %>
            <div class="diain"><%= l event.created_at, :format => :only_date %></div>
            <div class="mesin"><%= l event.created_at, :format => :only_month %></div>
            <div class="anoin"><%= l event.created_at, :format => :only_year %></div>
          </div>
        </div>
        <div class="det_jcal">
          <%= link_to truncate(event.title, :length => 80, :separator => ' '), event_path(event) %>
          <p>
            <%= event.description %>
          </p>
          <div class="eventdescription clearfix">
            <a href="#"><i class="icon-thumbs-up"></i> 9 tertarik! </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="span4" style="margin-left: 0; margin-bottom: 10px">
  <div class="tourism">
    <h2><span style="color: #0088CC;">Menu Wisatawan</span></h2>
  </div>
  <div class="sub_hr">
    <span>Menu untuk tampilan cepat</span>
  </div>

  <div class="tab-menu-wisata" style="margin-top: 10px;">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#home">Cerita Rakyat</a></li>
      <li><a href="#profile">Tips & Trik</a></li>
    </ul>

    <div class="tab-content">

      <div class="tab-pane active" id="home">
        <% if folktales.present? %>
          <% folktales.each do |folktale| %>
            <div class="moduletable_story">
              <div class="detail">
                <%= link_to truncate(folktale.title, :length => 80, :separator => ' '), folktale_path(folktale) %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="moduletable_story">
            <div class="detail">
              no data
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane" id="profile">
        <% if tips_tricks.present? %>
          <% tips_tricks.each do |tips_trick| %>
            <div class="moduletable_story">
              <div class="detail">
                <%= link_to truncate(tips_trick.title, :length => 80, :separator => ' '), tips_trick_path(tips_trick) %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="moduletable_story">
            <div class="detail">
              no data
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<% if article %>
  <div class="span4" style="margin-left: 0">
    <div class="center">
      <h2><span style="color: #ff9900;">Berita Wisata Terbaru</span></h2>
    </div>
    <div class="sub_hr">
      <span>Berita terbaru tentang wisata yang ada di  Sumatera Barat</span>
    </div>
    <div class="span4 moduletable_news" style="margin-left: 0">
      <div class="detail">
        <div class="clearfix">
          <div class="image-news">
            <%= image_tag(article.image.url(:thumb)) %>
          </div>
          <div class="title-news">
            <%= link_to truncate(article.title, :length => 80, :separator => ' '), tourism_article_path(article) %>
          </div>
        </div>
        <div class="news-author clearfix">
          <a href=""><%= article.user.username %></a> | <%= l article.created_at, :format => :costum %>
          <span class="pull-right" style="margin-left: 10px;">5 <i class="icon-comment"></i></span>
          <span class="pull-right">0 <i class="icon-eye-open"></i></span>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="span4" style="margin-left: 0">
  <div class="tourism">
    <h2><span style="color: #0088CC;">Cerita Baru Wisatawan</span></h2>
  </div>
  <div class="sub_hr">
    <span>Cerita terbaru wisatawan tentang tempat wisata yang ada di Sumatera Barat</span>
  </div>
  <div class="content-tourism-story" style="margin-left: 20px;">
    <div class="span4 photo-tourism">
      <ul class="thumbnails">
        <li class="span1" style="margin-right: 10px;">
          <a href="#" class="thumbnail">
            <img title="amin" src="http://placehold.it/100x100" alt="" />
          </a>
        </li>
        <div class="title-tourism">
          <a href="#"> Lembah Harau </a>
        </div>
        <span style="margin-right: 25px">
          <i class="icon-star icon-blue"></i>
          <i class="icon-star icon-white"></i>
          <i class="icon-star icon-white"></i>
          <i class="icon-star-empty icon-white"></i>
          <i class="icon-star-empty icon-white"></i>
        </span>
        <span><i class="icon-time icon-white"></i> <b><i>1 menit yang lalu</i></b></span>
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
      </ul>
    </div>
  </div>
  <div class="sub_hr_bottom"></div>
</div>
