<% events.each do |event| %>
  <div class="thumbnail">
    <div class="caption">
      <h2 class="two-title-tourism-article">
        <%= link_to event.title, event_path(event) %>
      </h2>
      <%= link_to event.user.username, profile_path(event.user) %> |
      <%= l event.created_at, :format => :costum %>
      <div class="eventdescription clearfix pull-right">
        <i class="icon-thumbs-up"></i> <%= event.likes.count %> tertarik.
      </div>
    </div>
    <%= image_tag(event.image.url(:medium)) %>
    <div class="caption">
      <p class="two-content-article"><%= truncate(event.description, :length => 200, :separator => ' ') %></p>
      <p class="clearfix">
        <span class="pull-left" style="margin-right: 8px; margin-top: 9px">
          <%= event.comments.published.count %>
          <i class="icon-comment"></i>
        </span>
        <span class="pull-left" style="margin-top: 9px;"><%= event.impressionist_count(:filter => :ip_address) %> <i class="icon-eye-open"></i></span>
        <span>
          <%= link_to "Selanjutnya", event_path(event), :class => 'btn btn-primary pull-right' %>
        </span>
      </p>
    </div>
  </div>
<% end %>