<%- model_class = @event.class -%>

<div class="event-content">

  <div class="info-event-content">
    <h2><%= @event.title.titleize %></h2>

    oleh <%= link_to @event.user.username, profile_path(@event.user) %> |
    <%= l @event.created_at, :format => :costum %>

    <div class="pull-right">

      <a href="#" rel="tooltip" data-original-title="tertarik" class="btn btn-mini">
        <i class="icon-thumbs-up"></i>
        <%= @event.likes.count %>
      </a>

      <%= link_to like_event_path(@event), method: :post, :class => 'btn btn-primary btn-mini' do %>
        <i class="icon-thumbs-up"></i> Saya tertarik!
      <% end if can? :like, @event %>
    </div>

    <div class="pull-right" style="margin-left: 5px; margin-right: 5px">
      <a href="#" rel="tooltip" data-original-title="komentar" class="btn btn-mini">
        <i class="icon-comment"></i> <%= @event.comments.published.count %>
      </a>
    </div>
    <div class="pull-right">
      <a href="#" rel="tooltip" data-original-title="melihat" class="btn btn-mini">
        <i class="icon-eye-open"></i> <%= @event.impressionist_count(:filter => :session_hash) %>
      </a>
    </div>

  </div>

  <%= image_tag(@event.image.url) %>
  <div class="content-article-show">
    <%= raw @event.description %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="comments-event">
      <legend>
        <div style="font-size: 24px;">
          <i class="icon-comments-alt icon-large"></i> Mari Berkomentar!
        </div>
      </legend>
      <%= simple_form_for @comment, :url => create_comment_event_path(@event) do |f| %>
        <%= f.input :comment, :as => :text, :label => false %>
        <%= f.button :submit, 'Submit', :class => 'span 1 btn btn-primary' %>
      <% end %>
    </div>

    <% comments.each do |comment| %>
      <div class="comment_container">
        <div class="img_round">
          <%= image_tag(comment.user.image.url(:small)) %>
        </div>
        <div class="comment_content">
          <p class="meta">
            <%= l comment.created_at, :format => :costum %>
          </p>
          <p>
            <%= link_to comment.user.username, profile_path(comment.user) %> bilang:
            <%= raw comment.comment %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>