<%- model_class = @event.class -%>

<div class="thumbnail" style="margin-bottom: 30px;">
  <div class="caption">
    <h2 class="title-show-tourism-article">
      <%= @event.title %>
    </h2>

    <div class="author-content-article-show">
      <p class="clearfix">
        oleh <a href="#"><%= @event.user.username %></a> | <%= l @event.created_at %>
        <span class="eventdescription clearfix pull-right">
          <a href="#"><i class="icon-thumbs-up"></i> 9 tertarik!</a>
        </span>
        <span class="pull-right" style="margin-left: 20px;">
          100 <i class="icon-comment"></i>
        </span>
      </p>
    </div>

    <%= image_tag(@event.image.url) %>
    <div class="content-article-show">
      <p class="clearfix">
        <%= @event.description %>
      </p>
    </div>
  </div>
</div>

<div class="comments-tourism-article">
  <legend>Mari Berkomentar!</legend>

  <%= form_for @comment, :url => create_comment_event_path(@event), :html => { :class => 'form-horizontal' } do |f| %>
    <div class="span1" style="margin-left: 0">
      <%= image_tag((current_user || User.new).image.url(:small), :class => 'thumbnail')%>
    </div>
    <%= f.text_area :comment, :"aria-required" => true, :role => "textbox", :rows => "5", :class => "span7 required", :style => "margin-left: 30px; margin-bottom: 20px;"%>
    <div class="actions">
      <%= f.button :submit, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>

  <div class="row">
    <div class="span8">
      <% @event.comments.each do |comment| %>
        <%= image_tag(comment.user.image.url(:thumb), :class => 'thumbnail') %>
        <div>
          <h5 style="text-transform: uppercase; margin-bottom: 10px;">
            <a href="#" style="text-decoration: none;">
              <%= comment.user.username %>
            </a>
            <%= l comment.created_at, :format => :costum %>
          </h5>
          <p class="clearfix" style="white-space: pre-wrap"><%= comment.comment %></p>
        </div>
        <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
      <% end %>
    </div>
  </div>

</div>