<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), remote: true, html: {id: "form-sign-in"}) do |f| %>
  <div class ="inputs">
    <%= f.input :login, :autofocus => true  %>
    <%= f.input :password %>
    <%= f.error :password, :id => 'user_name_error' %>
    <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
  </div>

  <div class="action">
    <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
  </div>

  <ul class="explogin_link" style="list-style: none; margin: 10px 0;">
    <li>
      <%= link_to new_user_password_path do %>
        <i class="icon-user"></i> Forgot your password
      <% end %>
    </li>
    <li>
      <%= link_to new_user_registration_path do %>
        <i class="icon-home"></i> Create an account
      <% end %>
    </li>
  </ul>
<% end %>