<ul class="nav">
  <li class="<%= current_page?(root_path) ? "active" : nil%>" >
    <%= link_to '/' do %>
      <i class="icon-home"></i>Home
    <% end %>
  </li>
  <li class="<%= current_page?(why_sumbars_path) ? "active" : nil%>">
    <%= link_to why_sumbars_path do %>
      <i class="icon-road"></i>Why Sumbar
    <% end %>
  </li>
  <li class="<%= current_page?(tourism_articles_path) ? "active" : nil%>">
    <%= profile_left_nav "Berita Wisata", tourism_articles_path, icon: :globe  %>
  </li>

  <li class="dropdown" id="menu1">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
      <i class="icon-pencil"></i>Cerita
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="<%= current_page?(reviews_path) ? "active" : nil%>">
        <%= link_to reviews_path do %>
          <i class="icon-pencil"></i>Cerita Wisatawan
        <% end %>
      </li>
      <li class="<%= current_page?(folktales_path) ? "active" : nil%>">
        <%= link_to folktales_path do %>
          <i class="icon-book"></i>Cerita Rakyat
        <% end %>
      </li>
    </ul>
  </li>

  <li class="dropdown" id="menu2">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
      <i class="icon-plane"></i>Wisata
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li class="<%= current_page?(tourism_locations_path) ? "active" : nil%>">
        <%= link_to tourism_locations_path do %>
          <i class="icon-map-marker"></i>Tempat Wisata
        <% end %>
      </li>
      <li class="<%= current_page?(events_path) ? "active" : nil%>">
        <%= link_to events_path do %>
          <i class="icon-bullhorn"></i>Acara Wisata
        <% end %>
      </li>
      <li class="<%= current_page?(tips_tricks_path) ? "active" : nil%>">
        <%= link_to tips_tricks_path do %>
          <i class="icon-star"></i>Tips & Trik Wisata
        <% end %>
      </li>
      <li class="<%= current_page?(profiles_path) ? "active" : nil%>">
        <%= link_to profiles_path do %>
          <i class="icon-user"></i>Profil Wisatawan
        <% end %>
      </li>
    </ul>
  </li>
  <li class="<%= current_page?(helps_path) ? "active" : nil%>">
    <%= link_to helps_path do %>
      <i class="icon-wrench"></i>Bantuan
    <% end %>
  </li>
  <li class="<%= current_page?(contacts_path) ? "active" : nil%>">
    <%= link_to contacts_path do %>
      <i class="icon-share-alt"></i>Kontak
    <% end %>
  </li>
</ul>
