<%- model_class = @tips_trick.class -%>

<div class="tips-trick-content">

  <div class="info-tips-trick-content">
    <h2><%= @tips_trick.title.titleize %></h2>

    oleh <%= link_to @tips_trick.user.username, profile_path(@tips_trick.user) %> |
    <%= l @tips_trick.created_at, :format => :costum %>

    <div class="pull-right" style="margin-left: 5px;">
      <a href="#" rel="tooltip" data-original-title="komentar" class="btn btn-mini">
        <i class="icon-comment"></i> <%= @tips_trick.comments.published.count %>
      </a>
    </div>
    <div class="pull-right">
      <a href="#" rel="tooltip" data-original-title="melihat" class="btn btn-mini">
        <i class="icon-eye-open"></i> <%= @tips_trick.impressionist_count(:filter => :session_hash) %>
      </a>
    </div>
  </div>

  <%= image_tag(@tips_trick.image.url) %>
  <div class="content-article-show">
    <%= raw @tips_trick.description %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="comments-tips-trick">
      <legend>
        <div style="font-size: 24px;">
          <i class="icon-comments-alt icon-large"></i> Mari Berkomentar!
        </div>
      </legend>
      <%= simple_form_for @comment, :url => create_comment_tips_trick_path(@tips_trick) do |f| %>
        <%= f.input :comment, :as => :text, :label => false %>
        <%= f.button :submit, 'Submit', :class => 'span 1 btn btn-primary' %>
      <% end %>
    </div>

    <% comments.each do |comment| %>
      <div class="comment_container">
        <div class="img_round">
          <%= image_tag(comment.user.image.url(:small)) %>
        </div>
        <div class="comment_content">
          <p class="meta">
            <%= l comment.created_at, :format => :costum %>
          </p>
          <p>
            <%= link_to comment.user.username, profile_path(comment.user) %> bilang:
            <%= raw comment.comment %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>