<% tips_tricks.each do |tips_trick| %>
  <div class="thumbnail">
    <div class="caption">
      <h2 class="two-title-tourism-article">
        <%= link_to tips_trick.title, tips_trick_path(tips_trick) %>
      </h2>
      oleh <a href="#"><%= tips_trick.user.username %></a> | <%= l tips_trick.created_at, :format => :costum %>
    </div>
    <%= image_tag(tips_trick.image.url(:medium)) %>
    <div class="caption">
      <p class="two-content-article"><%= truncate(tips_trick.description, :length => 200, :separator => ' ') %></p>
      <p class="clearfix">
        <span class="pull-left" style="margin-right: 8px; margin-top: 9px">5 <i class="icon-comment"></i></span>
        <span class="pull-left" style="margin-top: 9px;"><%= tips_trick.read_count %> <i class="icon-eye-open"></i></span>
        <span>
          <%= link_to "Selanjutnya", tips_trick_path(tips_trick), :class => 'btn btn-primary pull-right' %>
        </span>
      </p>
    </div>
  </div>
<% end %>