<%- model_class = @tips_trick.class -%>

<div class="thumbnail" style="margin-bottom: 30px;">
  <div class="caption">
    <h2 class="title-show-tourism-article">
      <%= @tips_trick.title %>
    </h2>

    <div class="author-content-article-show">
      <p class="clearfix">
        oleh <%= link_to @tips_trick.user.username, profile_path(@tips_trick.user) %>
        <%= l @tips_trick.created_at, :format => :costum %>
        <span class="pull-right" style="margin-left: 20px;">
          <%= comments.count %> <i class="icon-comment"></i>
        </span>
        <span class="pull-right" >
          <%= @tips_trick.impressionist_count(:filter => :session_hash) %>
          <i class="icon-eye-open"></i>
        </span>
      </p>
    </div>

    <%= image_tag(@tips_trick.image.url) %>
    <div class="content-article-show">
      <p><%= raw @tips_trick.description %></p>
    </div>
  </div>
</div>

<div class="comments-tourism-article">
  <legend>Mari Berkomentar!</legend>

  <%= form_for @comment, :url => create_comment_tips_trick_path(@tips_trick), :html => { :class => 'form-horizontal' } do |f| %>
    <div class="span1" style="margin-left: 0">
      <%= image_tag((current_user || User.new).image.url(:small), :class => 'thumbnail')%>
    </div>
    <%= f.text_area :comment, :"aria-required" => true, :role => "textbox", :rows => "5", :class => "span7 required", :style => "margin-left: 30px; margin-bottom: 20px;"%>
    <div class="actions">
      <%= f.button :submit, :class => 'btn btn-primary pull-right' %>
    </div>
  <% end %>

  <div class="row">
    <div class="span8">
      <% comments.each do |comment| %>
        <%= image_tag(comment.user.image.url(:thumb), :class => 'thumbnail') %>
        <div>
          <h5 style="text-transform: uppercase; margin-bottom: 10px;">
            <%= link_to comment.user.username, profile_path(comment.user) %>
            <%= l comment.created_at, :format => :costum %>
          </h5>
          <p class="clearfix" style="white-space: pre-wrap"><%= raw comment.comment %></p>
        </div>
        <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
      <% end %>
      <%= paginate comments %>
    </div>
  </div>

</div>