<%
# article dikelompokkan menjadi 4 member setiap grupnya
articles = articles.in_groups_of(4,false)
# grup di kelompokkan ulang berdasarkan index member, ex: [[1,2,3,4][5,6,7,8]] => [[1,5],[2,6],[3,7],[4,8]]
grouped_articles = 4.times.map do |i| 
  articles.map do |j|
    j[i]
  end.compact
end
%>
<% grouped_articles.each do |articles| %>

  <li class="span3"> <!-- Berita Utama Kolom 1 -->
    <% articles.each do |article| %>
      <div class="thumbnail" style="margin-bottom: 30px;">
        <div class="caption">
          <h2 class="three-title-tourism-article">
            <a>
              <%= link_to article.title, tourism_article_path(article) %>
            </a>
          </h2>
          <%= link_to article.user.username, profile_path(article.user) %> |
          <%= l article.created_at, :format => :costum %>
        </div>
        <%= image_tag(article.image.url(:tiny)) %>
        <div class="caption">
          <p class="three-content-article"><%= truncate(article.content, :length => 100, :separator => ' ') %></p>
          <p class="clearfix">
            <span class="pull-left" style="margin-right: 8px; margin-top: 9px">
              <%= article.comments.published.count %>   <i class="icon-comment"></i>
            </span>
            <span class="pull-left" style="margin-top: 9px;"><%= article.impressionist_count(:filter => :session_hash) %> <i class="icon-eye-open"></i></span>
            <span>
              <%= link_to "Selanjutnya", tourism_article_path(article), :class => 'btn btn-primary pull-right' %>
            </span>
          </p>
        </div>
      </div>
    <% end %>
  </li>
<% end %>