<%- model_class = @tourism_article.class -%>

<div class="tourism-article-content">

  <div class="info-tourism-article-content">
    <h2><%= @tourism_article.title.titleize %></h2>

    oleh <%= link_to @tourism_article.user.username, profile_path(@tourism_article.user) %> |
    <%= l @tourism_article.created_at, :format => :costum %>

    <div class="pull-right" style="margin-left: 5px;">
      <a href="#" rel="tooltip" data-original-title="komentar" class="btn btn-mini">
        <i class="icon-comment"></i> <%= @tourism_article.comments.published.count %>
      </a>
    </div>
    <div class="pull-right">
      <a href="#" rel="tooltip" data-original-title="melihat" class="btn btn-mini">
        <i class="icon-eye-open"></i> <%= @tourism_article.impressionist_count(:filter => :session_hash) %>
      </a>
    </div>
  </div>

  <%= image_tag(@tourism_article.image.url) %>
  <div class="content-article-show">
    <%= raw @tourism_article.content %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <div class="comments-tourism-article">
      <legend>
        <div style="font-size: 24px;">
          <i class="icon-comments-alt icon-large"></i> Mari Berkomentar!
        </div>
      </legend>
      <%= simple_form_for @comment, :url => create_comment_tourism_article_path(@tourism_article) do |f| %>
        <%= f.input :comment, :as => :text, :label => false %>
        <%= f.button :submit, 'Submit', :class => 'span 1 btn btn-primary' %>
      <% end %>
    </div>

    <% comments.each do |comment| %>
      <div class="comment_container">
        <div class="img_round">
          <%= image_tag(comment.user.image.url(:small)) %>
        </div>
        <div class="comment_content">
          <p class="meta">
            <%= l comment.created_at, :format => :costum %>
          </p>
          <p>
            <%= link_to comment.user.username, profile_path(comment.user) %> bilang:
            <%= raw comment.comment %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%#= form_for @comment, :url => create_comment_tourism_article_path(@tourism_article), :html => { :class => 'form-horizontal' } do |f| %>
<%#*<div class="span1" style="margin-left: 0">%>
<%#= image_tag((current_user || User.new).image.url(:small), :class => 'thumbnail')%>
<%#*</div>%>
<%#= f.text_area :comment, :"aria-required" => true, :role => "textbox", :rows => "5", :class => "span7 required", :style => "margin-left: 30px; margin-bottom: 20px;"%>
<%#*<div class="actions">%>
<%#= f.button :submit, :class => 'btn btn-primary pull-right' %>
<%#*</div>%>
<%# end %>

<%#*<div class="row">%>
<%#*<div class="span8">%>
<%# comments.each do |comment| %>
<%#= image_tag(comment.user.image.url(:thumb), :class => 'thumbnail') %>
<%#*<div>%>
<%#*<h5 style="text-transform: uppercase; margin-bottom: 10px;">%>
<%#= link_to comment.user.username, profile_path(comment.user) %>
<%#= l comment.created_at, :format => :costum %>
<%#*</h5>%>
<%#*<p class="clearfix" style="white-space: pre-wrap"><%= raw comment.comment %>
<%#*</div>%>
<%#*<div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>%>
<%# end %>
<%#= paginate comments %>
<%#*</div>%>
<%#*</div>%>

