<div class="container">

  <div class="navbar navbar-static" id="navbarExample">
    <div class="navbar-inner">
      <div style="width: auto;" class="container">
        <%= link_to "Tempat Wisata", tourism_locations_path, :class => 'brand'%>
        <ul class="nav">
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Alam <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Alam').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Sejarah <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Sejarah').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Kuliner <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Kuliner').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Belanja <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Belanja').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Seni dan Budaya <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Seni dan Budaya').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Adventure <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Adventure').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Rekreasi <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Rekreasi').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Religi <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% CategoryLocTourism.find_by_name('Wisata Religi').children.each do |category_loc_tourism| %>
                <li class="<%= current_page?(tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param)) ? "active" : nil%>">
                  <%= link_to tourism_locations_path(category_loc_tourism_id: category_loc_tourism.to_param) do %>
                    <%= category_loc_tourism.name %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ul class="thumbnails">
    <% @tourism_locations.each do |tourism_location| %>
      <li class="span3">
        <div class="thumbnail" style="padding: 15px;">
          <div class="title-location clearfix">
            <h2 style="font-size: 20px">
              <%= truncate(tourism_location.name, :length => 18, :separator => ' ') %>
            </h2>

            <p class="pull-right">
              <i class="icon-pencil"></i>
              <%= tourism_location.comments.count %> Cerita Wisatawan
            </p>
          </div>

          <%= image_tag(tourism_location.image.url(:medium)) %>

          <div class="caption">
            <div class="clearfix">
              <p><i class="icon-th-list"></i>
                <% if tourism_location.category_loc_tourism.parent.present? %>
                  <%= tourism_location.category_loc_tourism.parent.name %>,
                <% end %>
                <% if tourism_location.category_loc_tourism.name.present? %>
                  <%= truncate(tourism_location.category_loc_tourism.name, :length => 15, :separator => ' ') %>
                <% end %>
              </p>
              <p><i class="icon-map-marker"></i> <%= tourism_location.city %></p>
              <p><i class="icon-user"></i>
                <%= link_to tourism_location.user.username, profile_path(tourism_location.user) %>
              </p>
              <span>
                <%= link_to "Selanjutnya »", tourism_location_path(tourism_location),
                  :class => 'btn btn-primary pull-right' %>
              </span>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>