<% if signed_in? %>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> <%= current_user.email.gsub(/@.+/, '') %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Profile", '#' %></li>
    <li><%= link_to "Setting", '#' %></li>
    <li class="divider"></li>
    <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
  </ul>
<% else %>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-user"></i> Sign in
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu explogin_drop">
    <li class="explogin_drop_li" style="padding: 10px">
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class ="inputs">
          <%= f.input :email, :autofocus => true  %>
          <%= f.input :password %>
          <%= f.error :password, :id => 'user_name_error' %>
          <%= f.input :remember_me, :as => :boolean, :label => false, :inline_label => true if devise_mapping.rememberable? %>
        </div>

        <div class="action">
          <%= f.button :submit, "Sign in" %>
        </div>

        <ul class="explogin_link" style="list-style: none; margin: 10px 0;">
          <li>
            <a href="/expautospro/index.php/component/users/?view=reset">
              <i class="icon-lock"></i>
              Forgot your password?
            </a>
          </li>
          <li>
            <a href="/expautospro/index.php/component/users/?view=remind">
              <i class="icon-user"></i>
              Forgot your username?
            </a>
          </li>
          <li>
            <a href="/expautospro/index.php/component/users/?view=registration">
              <i class="icon-check"></i>
              Create an account
            </a>
          </li>
        </ul>
      <% end %>
    </li>
  </ul>
<% end %>

