<%- model_class = @event.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">

  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @event.title %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @event.user.email %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @event.created_at %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag(@event.image.url(:medium)) %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @event.start_date %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
  <dd><%= @event.end_date %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd><br />

</dl>

<div class="page-header">
  <h1>Comment</h1>
</div>

<dl class="dl-horizontal">
  <% @event.comments.each do |comment| %>
    <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
    <dd><%= comment.user.email %></dd>

    <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
    <dd><%= comment.title %></dd>

    <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
    <dd><%= comment.comment %></dd><br />
  <% end %>
</dl>

<%= simple_form_for @comment, :url => create_comment_event_path(@event), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :comment, as: :text%>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      events_path, :class => 'btn' %>
  <% end %>
</div>