<%= simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :message %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                contacts_path, :class => 'btn' %>
  </div>

  <%= Settler.facebook.value %><br />
  <%= Settler.twitter.value %><br />
  <%= Settler.phone.value %><br />
  <%= Settler.email.value %><br />
  <%= Settler.address.value %><br />
<% end %>
