<div class="row">
  <div class="span7">
    <legend><h2>Form Kontak</h2></legend>

    <p style="font-size: 14px; margin-bottom: 30px;">
      Menemukan masalah dengan situs sumbar-tourism.com?<br />
      Atau ingin menanyakan sesuatu terkait kemungkinan kerjasama dengan kami? <br />
      Jangan ragu-ragu, silakan hubungi kami melalui form kontak yang ada di bawah ini, dan kami akan merespon secepatnya.
    </p>
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.input :name, :label => 'Nama Lengkap', :input_html => {:class => 'span3'} %>
      <%= f.input :email, :label => 'Email Kamu', :input_html => {:class => 'span3'} %>
      <%= f.input :phone, :label => 'Nomor Kontak', :input_html => {:class => 'span3'} %>
      <%= f.input :message, :as => :text, :label => 'Pesan', :input_html => {:rows => '5', :class => 'span5'} %>

      <div class="form-actions">
        <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
          contacts_path, :class => 'btn' %>
      </div>
    <% end %>
  </div>

  <div class="span5">
    <legend><h2>Info Kontak</h2></legend>
    <table class="table">
      <tbody>
        <tr>
          <td><i class="icon-home"></i></td>
          <td>Alamat</td>
          <td><%= Settler.address.value %></td>
        </tr>
        <tr>
          <td><i class="icon-phone"></i></td>
          <td>Telepon</td>
          <td><%= Settler.phone.value %></td>
        </tr>
        <tr>
          <td><i class="icon-envelope"></i></td>
          <td>Email</td>
          <td><%= Settler.email.value %></td>
        </tr>
        <tr>
          <td><i class="icon-facebook"></i></td>
          <td>Facebook</td>
          <td><%= Settler.facebook.value %></td>
        </tr>
        <tr>
          <td><i class="icon-twitter"></i></td>
          <td>Twitter</td>
          <td><%= Settler.twitter.value %></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>