<div class="container">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">

      <div class="active item">
        <%= image_tag "gallery1.jpg" %>
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>

      <div class="item">
        <%= image_tag "gallery2.jpg" %>
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag "gallery3.jpg" %>
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <div class="row">
    <div class="span4">
      <div class="left">
        <h2><span style="color: #c639a1;">Acara</span></h2>
      </div>
      <div class="sub_hr">
        <span>Acara wisata terbaru yang diadakan di Sumatera Barat</span>
      </div>
      <!-- Acara 1 -->
      <div class="moduletable_event">
        <% @events.each do |event| %>
          <div class="detail clerfix">
            <div class="eventsdate">
              <div class="cont">
                <%= l event.created_at, :format => :only_day %>
                <div class="diain"><%= l event.created_at, :format => :only_date %></div>
                <div class="mesin"><%= l event.created_at, :format => :only_month %></div>
                <div class="anoin"><%= l event.created_at, :format => :only_year %></div>
              </div>
            </div>
            <div class="det_jcal">
              <%= link_to truncate(event.title, :length => 80, :separator => ' '), event_path(event) %>
              <p>
                <%= truncate(event.description, :length => 80, :separator => ' ') %>
              </p>
              <div class="eventdescription clearfix">
                <a href="#"><i class="icon-thumbs-up"></i> 9 tertarik! </a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="all-news clearfix">
        <%= link_to 'Selanjutnya', events_path %>
      </div>
    </div>

    <% if @tourism_articles %>
      <div class="span4"><!-- Berita -->
        <div class="center">
          <h2><span style="color: #ff9900;">Berita Wisata Terbaru</span></h2>
        </div>
        <div class="sub_hr">
          <span>Berita terbaru tentang wisata yang ada di  Sumatera Barat</span>
        </div>
        <div class="moduletable_news">
          <% @tourism_articles.each do |article| %>
            <div class="detail">
              <div class="clearfix">
                <div class="image-news">
                  <%= image_tag(article.image.url(:thumb)) %>
                </div>
                <div class="title-news">
                  <%= link_to truncate(article.title, :length => 80, :separator => ' '), tourism_article_path(article) %>
                </div>
              </div>
              <div class="news-author clearfix">
                <a href=""><%= article.user.username %></a> | <%= l article.created_at, :format => :costum %>
                <span class="pull-right" style="margin-left: 10px;"><%= article.read_count %> <i class="icon-comment"></i></span>
                <span class="pull-right">100 <i class="icon-eye-open"></i></span>
              </div>
            </div>
          <% end %>
        </div>
        <div class="all-news clearfix">
          <%= link_to 'Selanjutnya', tourism_articles_path %>
        </div>
      </div>
    <% end %>


    <div class="span4">
      <div class="right">
        <h2><span style="color: #718c8e">Jarak</span></h2>
      </div>
      <div class="sub_hr">
        <span>Cari jarak antara negara atau kota ke lokasi wisata Sumatera Barat</span>
      </div>
      <div class="maps">
        <form class="well">
          <label>Ayo cari jarak lokasi wisatamu di sini!</label>
          <input type="text" class="span3" placeholder="Lokasi Saya">
          <input type="text" class="span3" placeholder="Lokasi Wisata">
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
      <div class="all-maps clearfix">
        <a href="#">Lihat peta lebih besar</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span8"><!-- Berita -->
      <div class="tourism">
        <h2><span style="color: #0088CC;">Cerita Baru Wisatawan</span></h2>
      </div>
      <div class="sub_hr">
        <span>Cerita terbaru wisatawan tentang tempat wisata yang ada di Sumatera Barat</span>
      </div>
      <div class="content-tourism-story" style="margin-left: 20px;">
        <div class="span4 photo-tourism">
          <ul class="thumbnails">
            <li class="span1" style="margin-right: 10px;">
              <a href="#" class="thumbnail">
                <img title="amin" src="http://placehold.it/100x100" alt="">
              </a>
            </li>
            <div class="title-tourism">
              <a href="#"> Lembah Harau </a>
            </div>
            <span style="margin-right: 25px">
              <i class="icon-star icon-blue"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
            </span>
            <span><i class="icon-time icon-white"></i> <b><i>1 menit yang lalu</i></b></span>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
          </ul>
        </div>

        <div class="span4 photo-tourism">
          <ul class="thumbnails">
            <li class="span1" style="margin-right: 10px;">
              <a href="#" class="thumbnail">
                <img title="amin" src="http://placehold.it/100x100" alt="">
              </a>
            </li>
            <div class="title-tourism">
              <a href="#"> Lembah Harau </a>
            </div>
            <span style="margin-right: 25px">
              <i class="icon-star icon-blue"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
            </span>
            <span><i class="icon-time icon-white"></i> <b><i>3 menit yang lalu</i></b></span>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
          </ul>
        </div>
        <div class="span4 photo-tourism">
          <ul class="thumbnails">
            <li class="span1" style="margin-right: 10px;">
              <a href="#" class="thumbnail">
                <img title="amin" src="http://placehold.it/100x100" alt="">
              </a>
            </li>
            <div class="title-tourism">
              <a href="#"> Lembah Harau </a>
            </div>
            <span style="margin-right: 25px">
              <i class="icon-star icon-blue"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
            </span>
            <span><i class="icon-time icon-white"></i> <b><i>1 jam yang lalu</i></b></span>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
          </ul>
        </div>

        <div class="span4 photo-tourism">
          <ul class="thumbnails">
            <li class="span1" style="margin-right: 10px;">
              <a href="#" class="thumbnail">
                <img title="amin" src="http://placehold.it/100x100" alt="">
              </a>
            </li>
            <div class="title-tourism">
              <a href="#"> Lembah Harau </a>
            </div>
            <span style="margin-right: 25px">
              <i class="icon-star icon-blue"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
            </span>
            <span><i class="icon-time icon-white"></i> <b><i>30 menit yang lalu</i></b></span>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
          </ul>
        </div>

        <div class="span4 photo-tourism">
          <ul class="thumbnails">
            <li class="span1" style="margin-right: 10px;">
              <a href="#" class="thumbnail">
                <img title="amin" src="http://placehold.it/100x100" alt="">
              </a>
            </li>
            <div class="title-tourism">
              <a href="#"> Lembah Harau </a>
            </div>
            <span style="margin-right: 25px">
              <i class="icon-star icon-blue"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
            </span>
            <span><i class="icon-time icon-white"></i> <b><i>2 hari yang lalu</i></b></span>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
          </ul>
        </div>

        <div class="span4 photo-tourism">
          <ul class="thumbnails">
            <li class="span1" style="margin-right: 10px;">
              <a href="#" class="thumbnail">
                <img title="amin" src="http://placehold.it/100x100" alt="">
              </a>
            </li>
            <div class="title-tourism">
              <a href="#"> Lembah Harau </a>
            </div>
            <span style="margin-right: 25px">
              <i class="icon-star icon-blue"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
              <i class="icon-star-empty icon-white"></i>
            </span>
            <span><i class="icon-time icon-white"></i> <b><i>3 hari yang lalu</i></b></span>
            <p>lorem ipsum dolor sit amet, consectetur adipisicing elit... </p>
          </ul>
        </div>
      </div>

      <div class="sub_hr_bottom"></div>

      <div class="all-story">
        <a href="#">Selanjutnya</a>
      </div>
    </div>

    <div class="span4">
      <div class="tourism">
        <h2><span style="color: #0088CC;">Menu Wisatawan</span></h2>
      </div>
      <div class="sub_hr">
        <span>Menu untuk tampilan cepat</span>
      </div>

      <div class="tab-menu-wisata" style="margin-top: 10px;">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#home">Cerita Rakyat</a></li>
          <li><a href="#profile">Tips & Trik</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <% @folktales.each do |folktale| %>
              <div class="moduletable_story">
                <div class="detail">
                  <%= link_to truncate(folktale.title, :length => 80, :separator => ' '), folktale_path(folktale) %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="tab-pane" id="profile">
            <% @tips_tricks.each do |tips_trick| %>
              <div class="moduletable_story">
                <div class="detail">
                  <%= link_to truncate(tips_trick.title, :length => 80, :separator => ' '), tips_trick_path(tips_trick) %>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>