<div class="slider-area">
  <div class="slider-content drop-shadow lifted"><!-- Start Slide Content -->

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">

        <div class="active item">
          <%= image_tag "gallery1.jpg" %>
          <div class="carousel-caption">
            <h4>First Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag "gallery2.jpg" %>
          <div class="carousel-caption">
            <h4>First Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag "gallery3.jpg" %>
          <div class="carousel-caption">
            <h4>First Thumbnail label</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </div>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

  </div>
</div>

<div class="container content-sumbar"> <!-- CONTENT SUMBAR -->
  <div class="row">

    <div class="span4"> <!-- EVENT / ACARA -->
      <h2>Acara Wisata</h2>
      <div class="dashed"></div>
      <div class="info-title">Acara wisata terbaru yang diadakan di Sumatera Barat</div>
      <div class="dashed" style="margin-bottom: 15px; margin-top: 0"></div>

      <% @events.each do |event| %>
        <div class="eventsdate">
          <div class="span1 cont">
            <%= l event.created_at, :format => :only_day %>
            <div class="event-date"><%= l event.created_at, :format => :only_date %></div>
            <div class="event-month"><%= l event.created_at, :format => :only_month %></div>
            <div class="event-year"><%= l event.created_at, :format => :only_year %></div>
          </div>
        </div>

        <div class="eventscontent">
          <div class="title-event">
            <%= link_to truncate(event.title, :length => 80, :separator => ' '), event_path(event) %>
          </div>
          <p>
            <%= truncate(event.description, :length => 80, :separator => ' ') %>
          </p>
          <div class="clearfix">
            <div class="event-like">
              <a href="#"><i class="icon-thumbs-up"></i> 9 tertarik! </a>
            </div>
            <div class="pull-right" style="margin-left: 10px; margin-right: 10px;">
              <%= event.comments.published.count %> <i class="icon-comment"></i>
            </div>
            <div class="pull-right">
              <%= event.impressionist_count(:filter => :ip_address) %> <i class="icon-eye-open"></i>
            </div>
          </div>
        </div>
        <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
      <% end %>

      <div class="all-events">
        <%= link_to 'Selanjutnya', events_path, :class => 'btn btn-inverse btn-mini' %>
      </div>
    </div> <!-- END EVENT / ACARA -->

    <% if @tourism_articles %> <!-- TOURISM ARTICLES / BERITA WISATA -->
      <div class="span4">
        <h2>Berita Wisata</h2>
        <div class="dashed"></div>
        <div class="info-title">Berita terbaru tentang wisata yang ada di  Sumatera Barat</div>
        <div class="dashed" style="margin-bottom: 15px; margin-top: 0"></div>

        <% @tourism_articles.each do |article| %>
          <div class="span4 clearfix" style="margin-left: 0;">
            <div class="image-news">
              <%= image_tag(article.image.url(:thumb)) %>
            </div>
            <div class="title-news">
              <%= link_to truncate(article.title, :length => 80, :separator => ' '), tourism_article_path(article) %>
            </div>
          </div>
          <div class="news-info clearfix">
            <%= link_to article.user.username, profile_path(article.user) %> |
            <%= l article.created_at, :format => :costum %>
            <div class="pull-right" style="margin-left: 10px;">
              <%= article.comments.published.count %> <i class="icon-comment"></i>
            </div>
            <div class="pull-right">
              <%= article.impressionist_count(:filter => :ip_address) %> <i class="icon-eye-open"></i>
            </div>
          </div>
          <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
        <% end %>

        <div class="all-events">
          <%= link_to 'Selanjutnya', tourism_articles_path, :class => 'btn btn-inverse btn-mini' %>
        </div>
      </div>
    <% end %> <!-- END TOURISM ARTICLES / BERITA WISATA -->


    <div class="span4"> <!-- PETA JARAK -->
      <h2>Jarak</h2>
      <div class="dashed"></div>
      <div class="info-title">Cari jarak antara negara atau kota ke lokasi wisata Sumatera Barat</div>
      <div class="dashed" style="margin-bottom: 15px; margin-top: 0"></div>

      <div class="maps">
        <form class="well">
          <input type="text" class="span3" placeholder="Lokasi Saya"/>
          <input type="text" class="span3" placeholder="Lokasi Wisata Sumbar"/>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
      <div class="dashed" style="margin-bottom: 15px; margin-top: 0;"></div>
      <div class="all-events">
        <%= link_to 'Selanjutnya', tourism_articles_path, :class => 'btn btn-inverse btn-mini' %>
      </div>
    </div> <!-- END PETA JARAK -->

  </div>

  <div class="row"> <!-- CERITA WISATAWAN -->
    <div class="span8">
      <h2>Cerita Wisatawan</h2>
      <div class="dashed"></div>
      <div class="info-title">Cerita terbaru wisatawan tentang tempat wisata yang ada di Sumatera Barat</div>
      <div class="dashed" style="margin-bottom: 25px; margin-top: 0"></div>

      <div class="row">
        <% @reviews.each do |review| %>
          <div class="span4">
            <div class="span1 photo-tourism">
              <%= link_to image_tag(review.user.image.url(:member_thumb), :class => 'thumbnail'), profile_path(review.user) %>
            </div>

            <div class="story-tourism">
              <div class="name-location">
                <%= link_to review.commentable.name, location_tourism_path(review.commentable, anchor: "comment-#{review.id}") %>
              </div>
              <div class="clearfix">
                <div class="date-publish pull-right"><i class="icon-time"></i> Rabu, 27 Juni 2012</div>
                <div class="rate-location pull-left">
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star"></i>
                  <i class="icon-star-empty"></i>
                </div>
              </div>

              <div>
                <%= truncate(review.comment, :length => 50, :separator => ' ') %>
                <span class="small-view">
                  <i class="" >
                    <%= link_to location_tourism_path(review.commentable, anchor: "comment-#{review.id}") do %>
                      <i class="icon-external-link"></i>
                    <% end %>
                  </i>
                </span>
              </div>
            </div>
            <div class="dashed" style="margin-bottom: 15px; margin-top: 10px;"></div>
          </div>
        <% end %>

        <div class="span8">
          <div class="dashed" style="margin-bottom: 15px; margin-top: 10px;"></div>
          <div class="all-events">
            <%= link_to 'Selanjutnya', reviews_path, :class => 'btn btn-inverse btn-mini' %>
          </div>
        </div>
      </div> <!-- end row -->
    </div> 

    <div class="span4">
      <h2>Menu Wisatawan</h2>
      <div class="dashed"></div>
      <div class="info-title">Menu untuk tampilan cepat</div>
      <div class="dashed" style="margin-bottom: 25px; margin-top: 0"></div>

      <div class="tab-menu-wisata" style="margin-top: 10px;">
        <ul class="nav nav-tabs" id="myTab" style="font-size: 16px;">
          <li class="active"><a href="#home">Cerita Rakyat</a></li>
          <li><a href="#profile">Tips & Trik</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <% @folktales.each do |folktale| %>
              <div class="side-tourism">
                <%= link_to truncate(folktale.title, :length => 80, :separator => ' '), folktale_path(folktale) %>
                <div class="dashed" style="margin-bottom: 10px; margin-top: 5px;"></div>
              </div>
            <% end %>
            <div class="all-events">
              <%= link_to 'Selanjutnya', folktales_path, :class => 'btn btn-inverse btn-mini' %>
            </div>
          </div>

          <div class="tab-pane" id="profile">
            <% @tips_tricks.each do |tips_trick| %>
              <div class="side-tourism">
                <%= link_to truncate(tips_trick.title, :length => 80, :separator => ' '), tips_trick_path(tips_trick) %>
              </div>
              <div class="dashed" style="margin-bottom: 10px; margin-top: 5px;"></div>
            <% end %>
            <div class="all-events">
              <%= link_to 'Selanjutnya', tips_tricks_path, :class => 'btn btn-inverse btn-mini' %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div> <!-- END CONTENT SUMBAR -->