<div class="slider-area">
  <div class="slider-content drop-shadow lifted"><!-- Start Slide Content -->

    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @slideshows.each_with_index do |slideshow, i| %>
          <div class="<%= :active if i.zero?%> item">
            <%= image_tag(slideshow.image.url(:normal)) %>
            <div class="carousel-caption">
              <h4><%= slideshow.title %></h4>
              <p><%= slideshow.description %></p>
            </div>
          </div>
        <% end%>

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

  </div>
</div>

<div class="container content-sumbar"> <!-- CONTENT SUMBAR -->
  <div class="row" style="margin-bottom: 30px">

    <div class="span4"> <!-- EVENT / ACARA -->
      <div class="breadcrumb">
        <div class="clearfix">
          <div class="pull-left" style="color: #C639A1; font-size: 18px; margin-top: 4px;">
            <i class="icon-bullhorn"></i> Acara Wisata
          </div>
          <% if @events.present? %>
            <div class="pull-right">
              <%= link_to events_path, rel: "tooltip", data: {original_title: "Selanjutnya"} do %>
                <i class="btn btn-mini icon-share-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="breadcrumb" style="padding: 14px 14px 0px 14px">
        <% @events.each do |event| %>
          <div class="eventsdate">
            <div class="span1 cont">
              <%= l event.start_date, :format => :only_day  %>
              <div class="event-date"><%= l event.start_date, :format => :only_date %></div>
              <div class="event-month"><%= l event.start_date, :format => :only_month %></div>
              <div class="event-year"><%= l event.start_date, :format => :only_year %></div>
            </div>
          </div>

          <div class="eventscontent">
            <div class="title-event">
              <%= link_to truncate(event.title, :length => 50, :separator => ' '), event_path(event) %>
            </div>
            <p>
              <%= raw truncate(event.description, :length => 70, :separator => ' ') %>
            </p>
            <div class="clearfix">
              <div class="event-like pull-right">
                <span class="eventdescription" style="margin-left: 20px">
                  <i class="icon-thumbs-up"></i> <%= event.likes.count %> tertarik.
                </span>
              </div>
              <div class="pull-right" style="margin-left: 10px; margin-right: 10px;">
                <%= event.comments.published.count %> <i class="icon-comment"></i>
              </div>
              <div class="pull-right">
                <%= event.impressionist_count(:filter => :session_hash) %> <i class="icon-eye-open"></i>
              </div>
            </div>
          </div>
          <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
        <% end %>
      </div>
    </div> <!-- END EVENT / ACARA -->

    <div class="span4">

      <div class="breadcrumb">
        <div class="clearfix">
          <div class="pull-left" style="color: #005580; font-size: 18px; margin-top: 4px;">
            <i class="icon-globe"></i> Berita Wisata
          </div>
          <% if @tourism_articles.present? %>
            <div class="pull-right">
              <%= link_to tourism_articles_path, rel: "tooltip", data: {original_title: "Selanjutnya"} do %>
                <i class="btn btn-mini icon-share-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="breadcrumb" style="padding: 14px 14px 0px 14px">
        <% @tourism_articles.each do |article| %>
          <div class="span4 clearfix" style="margin-left: 0;">
            <div class="image-news">
              <%= image_tag(article.image.url(:thumb)) %>
            </div>
            <div class="title-news">
              <%= link_to truncate(article.title, :length => 80, :separator => ' '), tourism_article_path(article) %>
            </div>
          </div>
          <div class="news-info clearfix">
            <%= link_to article.user.username, profile_path(article.user) %> |
            <%= l article.created_at, :format => :costum %>
            <div class="pull-right" style="margin-left: 10px;">
              <%= article.comments.published.count %> <i class="icon-comment"></i>
            </div>
            <div class="pull-right">
              <%= article.impressionist_count(:filter => :session_hash) %> <i class="icon-eye-open"></i>
            </div>
          </div>
          <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
        <% end %>
      </div>
    </div><!-- END TOURISM ARTICLES / BERITA WISATA -->

    <div class="span4">

      <div class="breadcrumb">
        <div class="clearfix">
          <div class="pull-left" style="color: #005580; font-size: 18px; margin-top: 4px;">
            <i class="icon-map-marker"></i> Tempat Wisata
          </div>
          <% if @location_tourisms.present? %>
            <div class="pull-right">
              <%= link_to location_tourisms_path, rel: "tooltip", data: {original_title: "Selanjutnya"} do %>
                <i class="btn btn-mini icon-share-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <% if @location_tourisms.present? %>
        <div class="breadcrumb" style="padding: 19px">
          <% @location_tourisms.each do |location_tourism| %>
            <div style="margin-bottom: 15px">
              <%= image_tag(location_tourism.image.url) %>
            </div>
            <table class="table table-striped" style="margin-bottom: 0px;">
              <tbody>
                <tr>
                  <td><i class="icon-user"></i></td>
                  <td>Wisatawan</td>
                  <td><%= link_to location_tourism.user.username, profile_path(location_tourism.user) %></td>
                </tr>
                <tr>
                  <td><i class="icon-bookmark"></i></td>
                  <td>Nama Tempat</td>
                  <td><%= link_to location_tourism.name, location_tourism_path(location_tourism) %></td>
                </tr>
                <tr>
                  <td><i class="icon-pencil"></i></td>
                  <td>Cerita Wisatawan</td>
                  <td><%= location_tourism.comments.published.count%></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% else %>
          <div class="side-tourism">
            Jadilah member pertama yang mengisi konten ini!
          </div>
          <div class="dashed" style="margin-bottom: 30px; margin-top: 20px;"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row"> <!-- CERITA WISATAWAN -->
    <div class="span8">

      <div class="breadcrumb">
        <div class="clearfix">
          <div class="pull-left" style="color: #005580; font-size: 18px; margin-top: 4px;">
            <i class="icon-pencil"></i> Cerita Wisatawan
          </div>
          <% if @reviews.present? %>
            <div class="pull-right">
              <%= link_to reviews_path, rel: "tooltip", data: {original_title: "Selanjutnya"} do %>
                <i class="btn btn-mini icon-share-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="breadcrumb" style="padding: 19px 19px 0 19px">
        <div class="row">
          <% @reviews.each do |review| %>
            <div class="span4">
              <div class="span1 photo-tourism">
                <%= link_to image_tag(review.user.image.url(:thumb), :class => 'thumbnail'), profile_path(review.user) %>
              </div>

              <div class="story-tourism">
                <div class="name-location">
                  <%= link_to review.commentable.name, location_tourism_path(review.commentable, anchor: "comment-#{review.id}") %>
                </div>
                <div class="clearfix">
                  <div class="date-publish"><i class="icon-time"></i> Rabu, 27 Juni 2012</div>
                </div>

                <div>
                  <%= raw truncate(review.comment, :length => 50, :separator => ' ') %>
                  <span class="small-view">
                    <i class="" >
                      <%= link_to location_tourism_path(review.commentable, anchor: "comment-#{review.id}") do %>
                        <i class="icon-external-link"></i>
                      <% end %>
                    </i>
                  </span>
                </div>
              </div>
              <div class="dashed" style="margin-bottom: 15px; margin-top: 10px;"></div>
            </div>
          <% end %>
        </div> <!-- end row -->
      </div> <!-- end row -->
    </div>

    <div class="span4">

      <div class="breadcrumb" style="font-size: 18px; color: #C639A1">
        <div class="tab-menu-wisata" style="margin-top: 10px;">
          <ul class="nav nav-tabs" id="myTab" style="font-size: 16px;">
            <li class="active"><a href="#cerita">Cerita Rakyat</a></li>
            <li><a href="#tips">Tips & Trick</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="cerita">
              <% @folktales.each do |folktale| %>
                <div class="side-tourism">
                  <%= link_to truncate(folktale.title, :length => 80, :separator => ' '), folktale_path(folktale) %>
                  <div class="dashed" style="margin-bottom: 10px; margin-top: 5px;"></div>
                </div>
              <% end %>
              <% if @folktales.present? %>
                <div class="pull-right">
                  <%= link_to folktales_path, rel: "tooltip", data: {original_title: "Selanjutnya"} do %>
                    <i class="btn btn-primary btn-mini icon-share-alt icon-white"></i>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="tab-pane" id="tips">
              <% @tips_tricks.each do |tips_trick| %>
                <div class="side-tourism">
                  <%= link_to truncate(tips_trick.title, :length => 80, :separator => ' '), tips_trick_path(tips_trick) %>
                </div>
                <div class="dashed" style="margin-bottom: 10px; margin-top: 5px;"></div>
              <% end %>
              <% if @tips_tricks.present? %>
                <div class="pull-right">
                  <%= link_to tips_tricks_path, rel: "tooltip", data: {original_title: "Selanjutnya"} do %>
                    <i class="btn btn-primary btn-mini icon-share-alt icon-white"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div> <!-- END CONTENT SUMBAR -->