<div class="profiles-home">
  <%= f.input :title, :label => 'Judul Berita Wisata', :input_html => {:class => 'span7'} %>
  <%= f.input :content, :as => :text, :label => 'Isi Berita Wisata', :input_html => { :rows => 20 } %>
  <%= f.input :image, :as => :file %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      profile_tourism_articles_path(@profile), :class => 'btn btn-danger delete' %>
  </div>
</div>
