<div class="profiles-home">
  <h2>Berita Wisata</h2>
  <div class="dashed"></div>
  <div class="info-title">Arsip Berita Wisata Saya</div>
  <div class="dashed" style="margin-bottom: 15px; margin-top: 0"></div>
  <% if can?(:create, @new_tourism_article) && @profile == current_user %>
    <%= link_to new_profile_tourism_article_path(@profile) do %>
      <i class="btn btn-primary icon-plus"> Tambah Data</i>
    <% end %>
    <div class="dashed" style="margin-bottom: 30px; margin-top: 15px"></div>
  <% end %>

  <% @tourism_articles.each do |tourism_article| %>
    <div class="title-news">
      <div class="clearfix">
        <%= link_to_if can?(:read, tourism_article), tourism_article.title.truncate(80, separator: " "), tourism_article_path(tourism_article) %>
        <div class="pull-right">
          <%= link_to edit_profile_tourism_article_path(@profile, tourism_article), rel: "tooltip", data: {original_title: "Edit Data"} do %>
            <i class="btn btn-primary btn-mini icon-pencil"></i>
          <% end if can?(:update, tourism_article) && @profile == current_user %>
          <%= link_to profile_tourism_article_path(@profile, tourism_article), method: :delete,
            rel: "tooltip", data: {original_title: "Hapus Data", confirm: "Apakah anda yakin?"} do %>
            <i class="btn btn-danger btn-mini icon-trash"></i>
          <% end if can?(:destroy, tourism_article) && @profile == current_user %>
        </div>
      </div>
    </div>
    <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
  <% end %>

  <div class="all-events" style="margin-bottom: 0">
    <%= paginate @tourism_articles %>
  </div>
</div>
