<%= simple_form_for @why_sumbar, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :image %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                why_sumbars_path, :class => 'btn' %>
  </div>
<% end %>
