<div class="why_sumbar">
  <div class="page-header">
    <h2>Mengapa Sumbar ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "why_sumbar" %>
  </ul>
</div>

<div class="getting_there">
  <div class="page-header">
    <h2>Cara Ke Sini ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "getting_there" %>
  </ul>
</div>

<div class="where_to_stay">
  <div class="page-header">
    <h2>Dimana Saya Tinggal ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "where_to_stay" %>
  </ul>
</div>

<div class="things_to_do">
  <div class="page-header">
    <h2>Hal Yang Bisa Dilakukan ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "things_to_do" %>
  </ul>
</div>

<div class="things_to_see">
  <div class="page-header">
    <h2>Hal Yang Bisa Dilihat ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "things_to_see" %>
  </ul>
</div>

<div class="food">
  <div class="page-header">
    <h2>Makanan ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "food" %>
  </ul>
</div>

<div class="transportation">
  <div class="page-header">
    <h2>Transportasi Sumbar ?</h2>
  </div>
  <ul class="thumbnails">
    <%= render "transportation" %>
  </ul>
</div>
