<%- model_class = @why_sumbar.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @why_sumbar.title %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><%= @why_sumbar.content %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @why_sumbar.user.email %></dd><br />

  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag(@why_sumbar.image.url(:medium)) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              why_sumbars_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_why_sumbar_path(@why_sumbar), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              why_sumbar_path(@why_sumbar),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
