<% location_tourism = @location_tourism.is_a?(LocationTourismRevision) ? @location_tourism.location_tourism : @location_tourism %>
<% new_record = location_tourism.new_record? %>
<%= simple_form_for @location_tourism, :as => :location_tourism, url: location_tourism_path(location_tourism), :method => new_record ? :post : :put, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :address, as: :text, :input_html => { :rows => 2, :class => 'span7' } %>
  <%= f.input :city %>
  <%= f.input :zip %>
  <%= f.input :phone %>
  <%= f.input :web, as: :url %>
  <%= f.input :facebook, as: :url %>
  <%= f.input :twitter, as: :url %>
  <%= f.input :hours_description, as: :text, :input_html => { :rows => 5, :class => 'span7' } %>
  <%= f.input :facility, as: :text, :input_html => { :rows => 5, :class => 'span7' } %>
  <%= f.input :description, as: :text, :input_html => { :rows => 8, :class => 'span7' } %>
  <%= f.association :category_loc_tourism, :collection => nested_set_options(CategoryLocTourism) {|i, level| "#{'-' * level} #{i.name}" } %>

  <%= f.input :image %>
  <div class="form-actions">
    <%= f.button :submit, 'Simpan', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      location_tourisms_path, :class => 'btn' %>
  </div>
<% end %>

<%#= f.input :category_loc_tourism do %>
<%#= f.collection_select :category_loc_tourism_id, @category_loc_tourism_choices, :id, :name, {:prompt => true} %>
<%#= f.association :category_loc_tourism, :collection => nested_set_options(CategoryLocTourism) {|i, level| "#{'-' * level} #{i.name}" } %>
<%#= f.association :category_loc_tourism, :collection => CategoryLocTourism.all %>
<%# end %>