<%- model_class = @location_tourism.class -%>
<div class="container">

  <div class="row">
    <div class="span3"> <!-- Side Bar -->

      <div class="well sidebar-nav">
        <h3><%= @location_tourism.name %></h3>
        <div class="dashed" style="margin-bottom: 15px"></div>

        <%= image_tag(@location_tourism.user.image.url(:medium), :style => 'margin-bottom: 15px') %>

        <table class="table table-striped" style="margin-bottom: 0px">
          <tbody>
            <tr>
              <td><i class="icon-user"></i></td>
              <td>Oleh:</td>
              <td><%= link_to @location_tourism.user.username, profile_path(@location_tourism.user) %></td>
            </tr>
            <tr>
              <td><i class="icon-time"></i></td>
              <td>Hari:</td>
              <td><%= l @location_tourism.created_at, :format => :costum %></td>
            </tr>
          </tbody>
        </table>
      </div><!--/.well -->

      <div class="well sidebar-nav">
        <table class="table table-striped" style="margin-bottom: 0px">
          <tbody>
            <tr>
              <td><i class="icon-pencil"></i></td>
              <td>Cerita Wisatawan:</td>
              <td><%= @location_tourism.comments.published.count%></td>
            </tr>
            <tr>
              <td><i class="icon-user"></i></td>
              <td>Cerita Pertama:</td>
              <td><%= link_to @first_commentator.username, profile_path(@first_commentator) if @first_commentator %></td>
            </tr>
          </tbody>
        </table>
      </div><!--/.well -->

    </div> <!-- Side Bar -->

    <div class="span9"> <!-- Content -->
      <h3>Foto <%= @location_tourism.name %></h3>
      <div class="dashed" style="margin-bottom: 15px"></div>
      <ul class="thumbnails">
        <li class="span3">
          <%= image_tag(@location_tourism.image.url, :class => 'thumbnail') %>
        </li>
      </ul>

      <div class="well sidebar-nav">
        <%= link_to edit_location_tourism_path(@location_tourism), :class => 'btn btn-primary btn-mini pull-right' do %>
          <i class="icon-pencil"></i> Update Informasi
        <% end %>

        <h3>Informasi <%= @location_tourism.name %></h3>
        <div class="dashed" style="margin-bottom: 15px"></div>
        <table class="table table-striped" style="margin-bottom: 0px">
          <tbody>
            <tr>
              <td><i class="icon-th-list"></i></td>
              <td>Kategori Wisata:</td>
              <td>
                <%= @location_tourism.category_loc_tourism.parent.name %>,
                <%= @location_tourism.category_loc_tourism.name %>
              </td>
            </tr>
            <tr>
              <td><i class="icon-map-marker"></i></td>
              <td>Alamat:</td>
              <td><%= @location_tourism.address %></td>
            </tr>
            <tr>
              <td><i class="icon-globe"></i></td>
              <td>Kota/Kabupaten:</td>
              <td><%= @location_tourism.city %></td>
            </tr>
            <tr>
              <td><i class="icon-briefcase"></i></td>
              <td>Kode Pos:</td>
              <td><%= @location_tourism.zip %></td>
            </tr>
            <tr>
              <td><i class="icon-bullhorn"></i></td>
              <td>Nomor Telepon:</td>
              <td><%= @location_tourism.phone %></td>
            </tr>
            <tr>
              <td><i class="icon-asterisk"></i></td>
              <td>Website:</td>
              <td><%= @location_tourism.web %></td>
            </tr>
            <tr>
              <td><i class="icon-asterisk"></i></td>
              <td>Facebook:</td>
              <td><%= @location_tourism.facebook %></td>
            </tr>
            <tr>
              <td><i class="icon-asterisk"></i></td>
              <td>Twitter:</td>
              <td><%= @location_tourism.twitter %></td>
            </tr>
            <tr>
              <td><i class="icon-time"></i></td>
              <td>Jam Buka:</td>
              <td><%= @location_tourism.hours_description %></td>
            </tr>
            <tr>
              <td><i class="icon-list-alt"></i></td>
              <td>Fasilitas:</td>
              <td style="white-space: pre-line"><%= @location_tourism.facility %></td>
            </tr>
            <tr>
              <td><i class="icon-book"></i></td>
              <td>Deskripsi:</td>
              <td><%= raw @location_tourism.description %></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div> <!-- Content -->

  </div>

  <div class="comments-tourism-article">
    <legend>Tulis Ceritamu Disini!</legend>

    <div class="row">
      <div class="span8" style="margin-bottom: 30px;">
        <%= form_for @comment, :url => create_comment_location_tourism_path(@location_tourism), :html => { :class => 'form-horizontal' } do |f| %>
          <div class="span1" style="margin-left: 0">
            <%= image_tag((current_user || User.new).image.url(:small), :class => 'thumbnail')%>
          </div>
          <%= f.text_area :comment, :"aria-required" => true, :role => "textbox", :rows => "5", :class => "span7 required", :style => "margin-left: 30px; margin-bottom: 20px;"%>
          <div class="actions">
            <%= f.button :submit, :class => 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <% @comments.each do |comment| %>
          <div id="comment-<%= comment.id %>">
            <%= image_tag(comment.user.image.url(:thumb), :class => 'thumbnail') %>
            <div class="clearfix">
              <h5 style="text-transform: uppercase; margin-bottom: 10px;">
                <div class="pull-left">
                  <%= link_to comment.user.username, profile_path(comment.user) %>
                </div>
                <div class="pull-right">
                  <%= l comment.created_at, :format => :costum %>
                </div>
              </h5>
            </div>
            <p style="margin-top: 9px"><%= raw comment.comment %></p>
          </div>
          <div class="dashed" style="margin-bottom: 15px; margin-top: 5px;"></div>
        <% end %>
        <%= paginate @comments  %>
      </div>
    </div>
  </div>
</div>