<%- model_class = @location_tourism.class -%>
<div class="container">

  <div class="row">
    <div class="span12">
      <div class="show-location-tourism">
        <div class="pull-right" style="font-size: 14px; margin-top: 10px">
          <i class="icon-user"></i> <%= link_to @location_tourism.user.username%> /
          <i class="icon-time"></i> <%= l @location_tourism.created_at, :format => :costum%>
        </div>
        <h2>
          <%= @location_tourism.name %>
        </h2>
        <hr/>
      </div>
    </div>

    <div class="description-location-tourism">
      <div class="span6">
        <p style="font-size: 18px">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star-empty"></i>
        </p>
        <p style="margin-right: 10px;">
          <i class="icon-pencil"></i> 100 cerita wisatawan
        </p>
        <p>
          <i class="icon-th-list"></i> Kategori:
          <%= @location_tourism.category_loc_tourism.parent.name %>,
          <%= @location_tourism.category_loc_tourism.name %>
        </p>
        <p>
          <i class="icon-user"></i> Cerita Wisatawan Pertama oleh: <a href="#">Muhammad Amin</a>
        </p><br/>
        <p><i class="icon-map-marker"></i> Alamat: <%= @location_tourism.address %></p>
        <p><i class="icon-road"></i> Kota: <%= @location_tourism.city %></p>
        <p><i class="icon-road"></i> Kode Pos: <%= @location_tourism.zip %></p>
        <p><i class="icon-road"></i> Phone: <%= @location_tourism.phone %></p>
        <p><i class="icon-road"></i> Web: <%= @location_tourism.web %></p>
        <p><i class="icon-road"></i> Facebook: <%= @location_tourism.facebook %></p>
        <p><i class="icon-road"></i> Twitter: <%= @location_tourism.twitter %></p>
        <p><i class="icon-road"></i> Jam Buka: <%= @location_tourism.hours_description %></p>
        <p><i class="icon-road"></i> Fasilitas: <%= @location_tourism.facility %></p>
        <p><i class="icon-road"></i> Deskripsi: <%= @location_tourism.description %></p><br/>

        <%= link_to t('.edit', :default => t("helpers.links.edit")),
          edit_location_tourism_path(@location_tourism), :class => 'btn btn-mini' %>
      </div>
    </div>

    <ul class="thumbnails">
      <li class="span6">
        <a href="#" class="thumbnail">
          <%= image_tag(@location_tourism.image.url(:medium)) %>
        </a>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <%= image_tag(@location_tourism.image.url(:thumb)) %>
        </a>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <%= image_tag(@location_tourism.image.url(:thumb)) %>
        </a>
      </li>
      <li class="span2">
        <a href="#" class="thumbnail">
          <%= image_tag(@location_tourism.image.url(:thumb)) %>
        </a>
      </li>
    </ul>

  </div>

  <div class="comments-tourism-article">
    <legend>Tulis Ceritamu Disini!</legend>

    <div class="row">
      <div class="span8">
        <%= form_for @comment, :url => create_comment_location_tourism_path(@location_tourism), :html => { :class => 'form-horizontal' } do |f| %>
          <div class="span1" style="margin-left: 0">
            <%= image_tag((current_user || User.new).image.url(:small), :class => 'thumbnail')%>
          </div>
          <%= f.text_area :comment, :"aria-required" => true, :role => "textbox", :rows => "5", :class => "span7 required", :style => "margin-left: 30px; margin-bottom: 20px;"%>
          <div class="actions">
            <%= f.button :submit, :class => 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="span8">
        <% @location_tourism.comments.each do |comment| %>
          <%= image_tag(comment.user.image.url(:thumb), :class => 'thumbnail') %>
          <div>
            <h5 style="text-transform: uppercase; margin-bottom: 10px;">
              <a href="#" style="text-decoration: none;">
                <%= comment.user.username %>
              </a>
              <%= l comment.created_at, :format => :costum %>
            </h5>
            <p class="clearfix"><%= comment.comment %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>