<% tourism_location = @tourism_location.is_a?(TourismLocationRevision) ? @tourism_location.tourism_location : @tourism_location %>
<% new_record = tourism_location.new_record? %>
<%#= simple_form_for @tourism_location, :as => :tourism_location, url: tourism_location_path(tourism_location), :method => new_record ? :post : :put, :html => { :class => 'form-horizontal' } do |f| %>
<%= simple_form_for @tourism_location, :as => :tourism_location, url: tourism_location_path(tourism_location), :method => new_record ? :post : :put do |f| %>
  <%= f.input :name, :label => 'Nama', :input_html => {:class => 'span5'} %>

  <%= f.association :category_loc_tourism, :label => 'Kategori', :collection => nested_set_options(CategoryLocTourism) {|i, level| "#{'-' * level} #{i.name}" } %>

  <%= f.input :address, :label => 'Alamat', :as => :text, :input_html => {:class => 'span7', :rows => 3} %>

  <label>Kota/Kabupaten</label>
  <%= f.select :city, options_for_select([
      "Kabupaten Agam", "Kabupaten Dharmasraya", "Kabupaten Kepulauan Mentawai",
      "Kabupaten Lima Puluh Kota", "Kabupaten Padang Pariaman", "Kabupaten Pasaman",
      "Kabupaten Pasaman Barat", "Kabupaten Pesisir Selatan", "Kabupaten Sijunjung",
      "Kabupaten Solok", "Kabupaten Solok Selatan", "Kabupaten Tanah Datar",
      "Kota Bukittinggi", "Kota Padang", "Kota Padangpanjang",
      "Kota Pariaman", "Kota Payakumbuh", "Kota Sawahlunto",
      "Kota Solok"
    ]) %>

  <%= f.input :zip, :label => 'Kode Pos', :input_html => {:class => 'span5'} %>

  <%= f.input :phone, :label => 'Nomor Telepon', :input_html => {:class => 'span5'} %>

  <%= f.input :web, :label => 'Alamat Website', :input_html => {:class => 'span5'} %>

  <%= f.input :facebook, :label => 'Alamat Facebook', :input_html => {:class => 'span5'} %>

  <%= f.input :twitter, :label => 'Alamat Twitter', :input_html => {:class => 'span5'} %>

  <%= f.input :facility, :label => 'Fasilitas', :as => :text, :input_html => {:class => 'span7', :rows => 3} %>

  <%= f.input :hours_description, :label => 'Jam Buka', :as => :text, :input_html => {:class => 'span7', :rows => 3} %>

  <span class="help-block">Deskripsi tempat wisata</span>
  <%= f.input_field :description %>

  <%= f.input :image, :label => false, :input_html => {:style => 'margin-top: 15px;'} %>
  <div class="form-actions">
    <%= f.button :submit, 'Simpan', :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      tourism_locations_path, :class => 'btn' %>
  </div>
<% end %>

<%#= f.input :category_loc_tourism do %>
<%#= f.collection_select :category_loc_tourism_id, @category_loc_tourism_choices, :id, :name, {:prompt => true} %>
<%#= f.association :category_loc_tourism, :collection => nested_set_options(CategoryLocTourism) {|i, level| "#{'-' * level} #{i.name}" } %>
<%#= f.association :category_loc_tourism, :collection => CategoryLocTourism.all %>
<%# end %>